<li class="sidebar-button">
    <a href="/" class="nav-link text-white active" >
      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
      Dashboard
    </a>
  </li>
  <li class="sidebar-button">
    <a href="/counsellor-reports" class="nav-link text-white">
      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
      Reports
    </a>
  </li>
  <li class="sidebar-button">
    <a href="/user/task" class="nav-link text-white">
      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
      Task
    </a>
  </li>
  <li class="collapse-head sidebar-button">
    <a class="nav-link  d-flex align-items-center text-white" href="/counsellor-leads"  aria-controls="collapseLeads">
      <svg class="bi pe-none me-3" width="16" height="16"><use xlink:href="#people-circle"/></svg>
     Leads
      <i class="fa-solid fa-caret-down ms-auto dropdown-img-leads"></i>
    </a>
    <div class="collapse" id="collapseLeads">
      <ul class="btn-toggle-nav panel-list list-unstyled fw-normal pb-1 small">
        <li><a href="/counsellor-leads/Cold" class=" d-inline-flex list nav-link text-decoration-none rounded">List Of Cold Leads</a></li>
        <li><a href="/counsellor-leads/Hot" class=" d-inline-flex list nav-link text-decoration-none rounded">List Of Hot Leads</a></li>
      </ul>
    </div>
  </li>
  <li class="sidebar-button">
    <a href="/" class="nav-link text-white">
      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
      Manage Students
    </a>
  </li>