<li class="sidebar-button">
    <a href="/" class="nav-link text-white active" >
      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
      Dashboard
    </a>
  </li>
  <li class="sidebar-button">
    <a href="/interviewTeam/reports" class="nav-link text-white">
      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
      Reports
    </a>
  </li>
  <li class="sidebar-button">
    <a href="/user/task" class="nav-link text-white">
      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
      Task
    </a>
  </li>
  <li class="sidebar-button">
    <a href="/interviewTeam/manageApplications" class="nav-link text-white">
      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
      Manage Applications
    </a>
  </li>