<div class="px-2 my-2">
    <nav class=" ">
            <ul class="nav nav-tabs nav-fill bg-light">
                <li class="nav-item active">
                    <a class="nav-link fs-4 fw-bold" href="/enrolled/profile/<%=lead._id%>">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-4 fw-bold" href="/enrolled/application/<%=lead._id%>">Application</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-4 fw-bold" href="/enrolled/document/<%=lead._id%>">Document</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-4 fw-bold" href="/enrolled/payment/<%=lead._id%>">Payment</a>
                </li>
            </ul>
    </nav>
</div>