<%- include('partials/header')  -%> 

<link rel="stylesheet" href="/css/register.css">


    <div class="container my-5 ">
        <div class="card d-flex flex-column justify-content-center align-items-center">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-end mb-3 pb-1">
                    <img src="https://bellsoverseas.com/wp-content/uploads/2020/11/Bells-Overseas.png" alt="logo" class="w-25 h-25">
                  </div>
                <h1 class="text-center">
                    Welcome to <span class="text-danger">Bells Overseas</span>!
                </h1>
                <div class="d-flex justify-content-center align-items-center mt-4" >
                    <img src="/img/handshake.png" alt="handshake" class="w-25 h-25">
                </div>
                <div class="text-center mt-5">
                    <p class="text-muted fw-semibold fs-5">We're excited to have you on board! <br>
                    But first, to ensure that you're a real <span class="text-danger">Bells Overseas</span> user, we need to verify your email address.</p>
                    <p class="text-secondary">Open your mailbox and click the link in the email we sent you.</p>
                </div>
                <div class="d-flex justify-content-center align-items-center" >
                    <a href="https://mail.google.com/mail/u/?authuser=<%= email %>" class="btn btn-lg btn-primary" target="_blank">Open Gmail</a>
                </div>
                    <p class="text-secondary text-center mt-4">If you don't see the email, check your spam folder.</p>
                <div class="mt-5">
                    <p class="text-center text-secondary">
                        © 2022 Bells Overseas. All rights reserved.
                    </p>
                </div>
            </div>

        </div>
    </div>



<%- include('partials/footer')  -%>

<script src="/js/register.js"></script>
</body>
</html>