<%- include('../../partials/header')  -%> 

<link rel="stylesheet" href="/css/application.css">
</head>
<body>
    <!-- Tab-bar -->
    <%- include('navBar') -%> 
    <%- include('tabBar',{enrolledId})  -%>

  
      



<%- include('../../partials/footer')  -%>

</body>
</html>