<nav class="nav align-items-center border-bottom border-danger border-2 justify-content-end" style="height: 70px;">
    <div class="d-flex me-auto align-items-center justify-content-start pb-1">
        <img src="https://bellsoverseas.com/wp-content/uploads/2020/11/Bells-Overseas.png" alt="logo" class="w-50 h-50">
      </div>
    <li class="nav-item">
      <a class="nav-link fw-semibold fs-5 text-decoration-none text-secondary" href="/">Dashboard</a>
    </li>
    <div class="vr mt-3 h-50"></div>
    <li class="nav-item">
      <a class="nav-link fw-semibold fs-5 text-decoration-none text-secondary" href="/enrolled/manageApplications">Manage Applications</a>
    </li>
    <div class="vr mt-3 h-50"></div>
    <li class="nav-item">
      <a class="nav-link active fw-semibold fs-5 text-decoration-none text-secondary " href="/enrolled/manageStudents">Manage Students</a>
    </li>
</nav>
