<nav class="nav align-items-center border-bottom border-danger border-2 justify-content-end" style="height: 70px;">
    <div class="d-flex me-auto align-items-center justify-content-start pb-1">
        <img src="https://bellsoverseas.com/wp-content/uploads/2020/11/Bells-Overseas.png" alt="logo" class="w-50 h-50">
      </div>
</nav>