<ul class="nav mt-3 nav-tabs nav-fill bg-light">
    <li class="nav-item active">
        <a class="nav-link fs-6 fw-bold" href="/enrolled/save/personal/<%= enrolledId %>">Personal
            Information</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-6 fw-bold"
            href="/enrolled/save/academic/<%= enrolledId %>">Academic Information</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-6 fw-bold" href="/enrolled/save/work/<%= enrolledId %>">Work
            Information</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-6 fw-bold" href="/enrolled/save/test/<%= enrolledId %>">Test
            Information</a>
    </li>
</ul>