<div class="px-2 my-2">
    <nav class=" ">
            <ul class="nav nav-tabs nav-fill bg-light">
                <li class="nav-item active">
                    <a class="nav-link fs-4 fw-bold" href="/enrolled/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-4 fw-bold" href="/enrolled/application">Application</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-4 fw-bold" href="/enrolled/document">Document</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-4 fw-bold" href="/enrolled/payment">Payment</a>
                </li>
            </ul>
    </nav>
</div>